a:link {
    color:rgb(126, 12, 104);
}

a:hover {
    color:rgb(35, 5, 56);
}

.fa-linkedin {
    color: rgb(168, 18, 138) ;
}

.fa-facebook {
    color: rgb(168, 18, 138);
}

.text-center {
    text-align: center;
}
.top-image {
    text-align: center;
}

.top-hero {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.2px);
    -webkit-backdrop-filter: blur(3.2px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

body {
    background-color: rgb(244, 234, 237)
}

h2 {
    color: rgb(101, 9, 83);
}
.tags span {
    border: 1px solid rgb(101, 9, 83);
    padding: 5px 10px;
    color: rgb(101, 9, 83);
    margin: 2px;
    display: inline-block;
    border-radius: 8px;
    font-size: 0.8rem;
}

.tags {
    margin-bottom: 20px;
}
.top-container {
    background: url('img/background.jpg') no-repeat 50% 50%;
    background-size: cover;
}

.skills-text {
    font-size: 0.8rem;
    font-weight: 600;
}
